[submodule "DBCDumpHost"]
	path = DBCDumpHost
	url = https://github.com/Marlamin/DBCDumpHost.git
[submodule "CASCToolHost"]
	path = CASCToolHost
	url = https://github.com/Marlamin/CASCToolHost.git
[submodule "www"]
	path = www
	url = https://github.com/Marlamin/wow.tools
	ignore = dirty
[submodule "WoWDBDefs"]
	path = WoWDBDefs
	url = https://github.com/wowdev/WoWDBDefs.git
	ignore = dirty
